# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg-info/

# Node.js (for frontend and backend integration)
node_modules/
/frontend/node_modules
# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment folders
env/
venv/
