# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg-info/
*.log
env/
venv/

# Flask uploads directory
/uploads/

# IDE files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# System files (macOS, Windows)
.DS_Store
Thumbs.db
